html {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  vertical-align: middle;
  background-image: url("../images/the-flatiron-building.png")
}



a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
